<% layout('layouts/boilerplate') %>

    <div class="row">
        <form class="col-8 col-md-4 offset-2 offset-md-4 card p-2 px-3 mt-5" action="/register" method="post">

            <label for="email" class="my-2 form-label">Email</label>
            <input class="form-control" type="text" name="email" id="email" required>

            <label for="username" class="my-2 form-label">Username</label>
            <input class="form-control" type="text" name="username" id="username" required>

            <label for="password" class="my-2 form-label">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <button class="btn btn-primary my-3">Register</button>

        </form>
    </div>
    <div id="txt"></div>